body {
    background: url(black.png);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.header {
    width: 100%;
    position: relative;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
    background: rgb(0, 0, 0);
    box-shadow: 0 2px 5px #000;
    height: 8vh;
    overflow: hidden;
}
.logo {
    color: rgb(254, 254, 255);
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span {
    color: #f9004d;
    text-shadow: 1px 3px 2px white;
}
h1 {
    font-size: 16px;
    color: black;
    text-align: center;
    line-height: 20px;
    margin-bottom: 15px;
}
nav ul li {
    display: inline;
}

ul li a {
    padding: 15px;
    font-size: thin;
    color: #f1f1f1;
    margin: 20px 10px;
    border-radius: 9px;
    width: 30px;
}

ul li a:hover {
    background: rgba(0, 0, 0, 0.7);
    color: rgb(248, 0, 0);
}

.link {
    background-color: #000;
}
#skills {
	margin-top:  5%;
	width:  100%;
    animation: anime1 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.skills-container {
	width:  100%;
	background: url(black.png);
	border-bottom:  1px solid white;
	padding:  20px;
}

.skills-box .skill-ov {
	width:  100%;
	position:  relative;
	height:  .7rem;
	border-radius:  .5rem;
	background:  #000000;
}

.skills-box .skill-bar {
	background:  linear-gradient(230deg, rgb(255, 8, 152), rgba(0,13,194,0.7));
	height:  .7rem;
	border-radius:  .5rem;
}

.skills-box .html {
	width:  96%;
}

.skills-box .css {
	width:  90%;
}

.skills-box .javascript {
	width:  73%;
}

.skills-box .react {
	width:  69%;
}

.skills-box .bootstrap {
	width:  50%;
}

#skills {
    color: white;
}

.right {
	padding-top:  20px;
	text-align:  right;
}
@keyframes anime1 {
    0% {
        transform: translateY(250px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}